<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="main.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="avatar.js"></script>
  <meta charset="utf-8">
  <title>User Avatar Template</title>
</head>
<body ng-app="myApp" ng-controller="todoCtrl">
    
    <h2>My Todo List</h2>
    
    <form ng-submit="todoAdd()">
        <input type="text" ng-model="todoInput" size="50" placeholder="Add New">
        <input type="submit" value="Add New">
    </form>
    
    <br>
    
    <div ng-repeat="x in todoList">
        <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
    </div>

    <p><button ng-click="remove()">Remove marked</button></p>
  <style>
    #form {
      text-align: center;
      font-family: helvetica;
      border: 1px solid black;
    }
    
    body{
      background-image: url('bg.jpg');
      background-size: cover;
    }
  </style>
</body>
</html>