<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="index.js"></script>
</head>

<body>
    <h1>Search for a GIF</h1>
    <div ng-app="myApp" ng-controller="myCtrl">
        <form ng-submit="showGifs()" id="userInputForm">
            <input ng-model="gifInput" type="text" placeholder="Enter a keyword or phrase" />
            <button type="submit" id="gifSubmit">Give me a GIF!</button>
        </form>
        <div ng-repeat="gif in gifList" id="gifdiv">
            <video width="320" height="240" autoplay loop>
                <source ng-src="{{gif}}" type="video/mp4">
            </video>
        </div>
    </div>
</body>

</html>
